@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

.app {
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .app {
    width: 100%;
  }
}