.detail-animal-form-container,
.detail-animal-form-container table {
	position: relative;
	width: 100%;
	height: 580px;
	margin: auto;
	padding: 0px;
	border-spacing: 0px;
	text-align: center;
	table-layout: fixed;
}

.image {
	display: block;
	width: 100%;
	height: 580px;
	background-color: #D9D9D9;
}

.detail-animal-form-container td {
	padding: 0px;
}

.icon-close {
	position: absolute;
	color: #939393;
	font-size: 1.5rem;
	top: 10px;
	right: 10px;
}

.icon-close:hover {
	color: #DC0000;
}