.cat{
    background-image: url('../../../images/submain/facecat.png'),
                            linear-gradient(#F3FBE3, #E7FFFF);
}

.dog{
    background-image: url('../../../images/submain/facedog.png'),
                            linear-gradient(#FEF6C7, #F3FBE3);
}

.logIn{
    width: 100%;
    height: 100vh;
    margin: 0px auto;
}

.box{
    display: inline-block;
    width: auto;
    height: auto;
}

.left{
    position: relative;
    top: 60%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.right{
    position: relative;
    top: 45%;
    left: 55%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.main-text{
    line-height: 90px;
}

.sub-text{
    margin: 40px 0px;
    line-height: 40px;
}