* {
  box-sizing: border-box;
  outline: none;
}

button {
  cursor: pointer;
}

.donation-container {
  width: 640px;
  height: 820px;
  border: 1px solid black;
  border-radius: 30px;
  padding: 20px;
}

.search-container {
  display: flex;
}

.options {
  border: solid 1px #d9d9d9;
  border-radius: 5px;
  width: 131px;
  height: 34px;
  color: #939393;
  font-size: 17px;
  text-align-last: center;
  margin-right: 10px;
}

.search-box {
  width: 400px;
  height: 34px;
  border: none;
  border-bottom: solid 1px #595959;
  margin-right: 10px;
}

.search-box::placeholder {
  font-size: 17px;
  color: #939393;
  padding-left: 15px;
}

.search-icon {
  font-size: 30px;
  color: #dedede;
}

.search-icon:hover {
  color: #ffce00;
}

.list-container {
  width: 600px;
  height: 740px;
  background-color: #f3f3f3;
  margin-top: 10px;
}

.date-filter {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
