.chatting-container {
  background-color: #F3FBE4;
  width: 100%;
  height: 100%;
  padding: 40px;
}

.adopt-container {
  display: inline-block;
  width: 70%;
  height: 100%;
  margin: auto;
}

.shelter-adopt {
  width: 70%;
}

.consumer-adopt {
  width: 100%;
  padding: 20px;
}

.chatting-container {
  background-color: #F3FBE4;
  width: 100%;
  height: 100%;
  padding: 40px;
}

.pet-list-container {
  width: 100%;
  height: 100%;
  margin: auto;
}

.consumer-pet {
  width: 90%;
}