.find-password {
  width: 100%;
  height: 870px;
  margin: 0px auto;
}

.box {
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.box .btn-text {
  display: block;
  margin: 20px 30px;
}

.text-main {
  margin-top: 180px;
  line-height: 80px;
}

.input-container{ 
  display: block;
  height: 260px;
}

.input {
  margin-top: 120px;
}

.btn {
  margin-top: 90px;
}
