* {
  box-sizing: border-box;
  outline: none;
}

.upper-part {
  height: 100px;
}

.main-part {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-text1,
.main-text2 {
  font-size: 60px;
  color: #5e5e5e;
}

.main-text1 {
  margin-right: 100px;
}

.number-box1,
.number-box2,
.number-box3 {
  width: 100px;
  height: 150px;
  margin-right: 40px;
  background-color: #ffce00;
  border-radius: 20px;
}

.number-text1,
.number-text2,
.number-text3 {
  color: white;
  height: 150px;
  line-height: 150px;
  font-size: 100px;
  margin: 0;
}

.lower-part {
  display: flex;
  text-align: center;
}

.vod-container,
.donate-container,
.adopt-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 337px;
  cursor: pointer;
}

.vod-container {
  background-color: #fef6c7;
}

.donate-container {
  background-color: whitesmoke;
}

.adopt-container {
  background-color: #e7ffff;
}

.video-icon,
.coin-icon,
.dog-icon {
  font-size: 100px;
  font-weight: 900;
  color: #595959;
  margin-bottom: 30px;
}

.vod-text,
.donate-text,
.adopt-text {
  font-size: 25px;
  color: #939393;
  font-weight: 900;
}
