.sign-up-container {
	width: 100%;
	height: 870px;
	margin: 0px auto;
}

.right-container {
	position: relative;
	float: left;
	width: fit-content;
	height: fit-content;
	text-align: center;
	margin: 240px 0% 0% 0%;
}

.right-container div{
	margin-bottom: 60px;
}

.right-container div p {
	margin: 25px 0px 0px 0px;
	letter-spacing: 0.5rem;
}

.right-container div div {
	margin: 20px 0px 0px 0px;
	letter-spacing: 0.2rem;
}

.right-container p {
	margin: 20px 0px 0px 0px;
	letter-spacing: 0.2rem;
}

.left-container {
	float: left;
	margin: 100px 15% 0% 15%;
}

.left-container .button {
	margin: 20px 30px 0px 0px;
}

.form {
	clear: both;
	display: block;
	width: 100%;
	height: fit-content;

	padding-top: 80px;
}

.input {
	margin-top: 30px;
}

.icon-at {
	display: inline;
	margin: 0 17px;
}

p {
	margin: auto;
	font-size: 10px;
}

.red {
	padding-right: 220px;
	color: red;
}

.blue {
	padding-right: 250px;
	color: darkgray;
}

.input-nickname {
	background-color: transparent;
	border-width: 0 0 2px;

	width: 195px;
	height: 30px;

	margin-bottom: 10px;
	padding-left: 10px;
}

.btn-check {
	width: 150px;
	height: 35px;
	border: 1px solid #D9D9D9;
	background-color: transparent;
	color: #5e5e5e;
	border-radius: 5px;
	font-size: 16px;
	margin-left: 15px;
}

.btn {
	margin-top: 90px;
}