.pet-list-container {
  display: inline-block;
}

.pet-card-container {
  display: inline-block;
  position: relative;
  width: fit-content;
  height: fit-content;
  /* float: left; */
  margin: 5px 10px 0px 10px;
}

.pet-card-container img {
  display: block;
  width: 260px;
  height: auto;
  border-radius: 30px;
  background-color: yellow;
}

.pet-card-container:hover .card-hover {
  visibility: visible;
  cursor: pointer;
}

.card-hover {
  visibility: hidden;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: white;
  text-align: center;

  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: black;
  opacity: 0.7;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.name {
  font-weight: 600;
  font-size: 30px;
}

.age {
  font-weight: 400;
  font-size: 18px;
  margin: 5px
}

.birthday {
  font-weight: 300;
  font-size: 15px;
}