.main-category {
  /* display: inline-block; */
  width: 450px;
  height: 840px;
  float: left;
}

.top {
  display: block;
  text-align: center;
  width: 100%;
  height: 370px;
  margin-bottom: 20px;
}

.profile {
  display: block;
  background-color: yellowgreen;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 30px auto;
}

.title {
  font-size: 25px;
  font-weight: bold;
  color: #5E5E5E;
}

.site {
  font-size: 18px;
  font-weight: bold;
  color: #5E5E5E;
  margin-bottom: 30px;
}

.info {
  font-size: 18px;
  color: #5E5E5E;
}

.bottom {
  width: 100%;
  height: 420px;
  text-align: center;
}

.introduction-box {
  display: block;
  position: relative;
  border-radius: 10px;
  width: 400px;
  height: 190px;
  margin: 0 auto;
  margin-top: 5px;
  background-color: #F3FBE4;
}

.introduction {
  height: 100%;
  text-align: center;

  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.introduction::-webkit-scrollbar {
  display: none;
}

.btn-edit {
  position: absolute;
  margin: 10px;
  right: 10px;
}
