* {
  box-sizing: border-box;
  outline: none;
}

button {
  cursor: pointer;
}

.chart-container {
  width: 40rem;
  height: 24.5rem;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.year-box {
  width: 34rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.year-btn {
  background-color: transparent;
  border: none;
  font-size: 25px;
  color: #858585;
}

.year-btn:hover {
  color: #16a8eb;
}

.year-text {
  font-size: 1.25rem;
  font-weight: 900;
}

.chart-box {
  width: 34rem;
  height: 17rem;
  background-color: transparent;
}
