.pet-container {
  width: fit-content;
  height: fit-content;
}

.pet-list {
  display: block;
  height: 800px;

  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.pet-list::-webkit-scrollbar {
  display: none;
}