* {
  box-sizing: border-box;
  outline: none;
}

.streaming-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.upper-container {
  width: 100%;
  margin-bottom: 3em;
}

.search-container {
  display: flex;
  flex-direction: row-reverse;
  width: 90%;
  margin-bottom: 1em;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0 0 0;
}

.streaming-item-container {
  margin: 10px;
}
