.chat-list-container {
	display: inline-block;
	width: 25%;
	height: 100%;
	margin-right: 25px;
	background-color: white;
	border-radius: 30px;
	float: left;

  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chat-list-container::-webkit-scrollbar {
  display: none;
}

.chat-list-container .comment {
	text-align: center;
	margin-top: 100%;
	font-size: 1.5rem;
	font-weight: 600;
}

.chat-item-container {
	width: 100%;
	height: 70px;
	border-bottom: 2px solid #d6d6d6;
	padding: 10px;
}

.chat-item-container:hover {
	background-color: #d6d6d6;
	cursor: pointer;
	text-align: center;
}

.chat-name{
	margin: auto;
	font-size: 1.25rem;
	font-weight: bold;
}

.chat-msg{
	margin: auto;
	margin-top: 5px;
	font-size: 0.8rem;
	width: 80%;
	height: 1rem;
	overflow: hidden;
}