.upper-box {
  height: 10vh;
}

.main-box {
  background-color: #f3fbe4;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.streaming-container {
  width: 1300px;
  height: 85vh;
  border: 2px solid #788e6e;
}

.streaming-info-container {
  width: 1300px;
  height: 15vh;
  padding: 1.5em;
  display: flex;
  align-items: center;
  background-color: white;
}

.shelter-img {
  display: flex;
  flex: 1.2;
  margin: 0 1em;
}

.streaming-host-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 6.8;
}

.streaming-name {
  font-size: 1.3rem;
  font-weight: 900;
  margin-bottom: 10px;
}

.shelter-info-container {
  display: flex;
}

.shelter-name {
  font-size: 1rem;
  font-weight: 900;
  color: #5e5e5e;
  margin-right: 2em;
}

.viewer-container {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  line-height: 1rem;
  color: #3a8b15;
}

.user-icon {
  margin-right: 5px;
}

.icons-container {
  flex: 3;
  font-size: 4rem;
  margin-right: 1em;
}

.bone-icon {
  color: #c5b87f;
  transition: all ease 1s;
  margin-right: 0.7em;
}

.bone-icon:hover {
  color: #987f15;
  transform: scale(1.2) rotateX(720deg);
}

.paw-icon {
  color: #d69bbe;
  transition: all ease 1s;
  margin-right: 0.7em;
}

.paw-icon:hover {
  color: #ff029a;
  transform: scale(1.2) rotate(720deg);
}

.fish-icon {
  color: #7fcdd3;
  transition: all ease 1s;
}

.fish-icon:hover {
  color: #0fdae9;
  transform: scale(1.2) rotateY(720deg);
}
